@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");

/* #040303 */
/* #461111 */
/* #A13333 */
/* #B3541E */
@layer utilities {
  .stroke-h {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #b3541e;
  }
}

body {
  background-color: #040303;
  font-family: "Fira Sans", sans-serif;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
@media (max-width: 800px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 550px) {
  html {
    font-size: 40%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.phones {
  background-image: linear-gradient(105deg, rgba(79, 74, 74, 0.398), #000),
    url("../assets/bg1.jpg");
  background-position: center;
  background-size: 100%;
  transition: all .5s;
}
.phones:hover {
  background-size: 110%;
  opacity: 1;
}

@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  .phones {
    -webkit-clip-path: polygon(0 0%, 100% 0, 79% 100%, 0% 100%);
    clip-path: polygon(0 0%, 100% 0, 79% 100%, 0% 100%);
  }
}
.laptops {
  background-image: linear-gradient(105deg, rgba(79, 74, 74, 0.398), #000),
    url("../assets/bg2.jpg");
  background-position: center;
  background-size: 100%;
  transition: all .5s;
}
.laptops:hover {
  background-size: 110%;
  opacity: 1;
}
@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  .laptops {
    -webkit-clip-path: polygon(21% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(21% 0, 100% 0, 100% 100%, 0 100%);
  }
}
.phones_gaming {
  background-image: linear-gradient(105deg, rgba(79, 74, 74, 0.398), #000),
    url("../assets/bg3.jpg");
  background-position: center;
  background-size: 100%;
  transition: all .5s;
}
.phones_gaming:hover {
  background-size: 110%;
  opacity: 1;
}

@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  .phones_gaming {
    -webkit-clip-path: polygon(0% 0, 100% 0, 79% 100%, 0 100%);
    clip-path: polygon(0% 0, 100% 0, 79% 100%, 0 100%);
  }
}
.phones_regular {
  background-image: linear-gradient(105deg, rgba(79, 74, 74, 0.398), #000),
    url("../assets/bg4.jpg");
  background-position: center;
  background-size: 100%;
  transition: all .5s;
}
.phones_regular:hover {
  background-size: 110%;
  opacity: 1;
}


@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  .phones_regular {
    -webkit-clip-path: polygon(21% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(21% 0, 100% 0, 100% 100%, 0 100%);
  }
}
.laptops_gaming {
  background-image: linear-gradient(105deg, rgba(79, 74, 74, 0.398), #000),
    url("../assets/bg5.jpg");
  background-position: center;
  background-size: 100%;
  transition: all .5s;
}
.laptops_gaming:hover {
  background-size: 110%;
  opacity: 1;
}


@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  .laptops_gaming {
    -webkit-clip-path: polygon(0% 0, 100% 0, 79% 100%, 0 100%);
    clip-path: polygon(0% 0, 100% 0, 79% 100%, 0 100%);
  }
}
.laptops_regular {
  background-image: linear-gradient(105deg, rgba(79, 74, 74, 0.398), #000),
    url("../assets/bg6.jpg");
  background-position: center;
  background-size: 100%;
  transition: all .5s;
}
.laptops_regular:hover {
  background-size: 110%;
  opacity: 1;
}


@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  .laptops_regular {
    -webkit-clip-path: polygon(21% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(21% 0, 100% 0, 100% 100%, 0 100%);
  }
}
