@media (max-width: 1200px) {
  .Ops {
    width: 40%;
  }
}

.Glow {
  border: 1px solid #ffffff;
  box-shadow: 0 0 5px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #ffffff,
    0 0 1px #ffffff, 0 0 1px #ffffff, 0 0 1px #ffffff, 0 0 1px #ffffff;
}

.OpsLeft {
  border: 1px solid #ffffff;
  box-shadow: 0 0 20px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #ffffff,
    0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff;
}
.OpsRight {
  border: 1px solid #ffffff;
  box-shadow: 0 0 20px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #ffffff,
    0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff;
}
@media (max-width: 800px) {
  .OpsLeft {
    border: 1px solid #ffffff;
    box-shadow: 0 0 5px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #ffffff,
      0 0 1px #ffffff, 0 0 1px #ffffff, 0 0 1px #ffffff, 0 0 1px #ffffff;
  }
  .OpsRight {
    margin-top: -20rem;
    border: 1px solid #ffffff;
    box-shadow: 0 0 5px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #ffffff,
      0 0 1px #ffffff, 0 0 1px #ffffff, 0 0 1px #ffffff, 0 0 1px #ffffff;
  }
}

@media (max-width: 800px) {
  .Ops {
    width: 70%;
    /* clip-path: none; */
    height: 40vh;
    margin-left: 0;
    margin-right: 0;
    /* margin-top: 9rem; */
  }
  .Ops a {
    padding: 1rem 2rem;
  }
}

@media (max-width: 1200px) {
  .OpsLeft {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  .OpsLeft {
    margin-right: 0;
    width: 90%;
    margin-bottom: 3rem;
  }
}

@media (max-width: 700px) {
  .OpsRight {
    margin-left: -2rem;
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  .OpsRight {
    margin-left: 0;
    width: 90%;
    margin-top: -8rem;
  }
  .OpsRight div {
    left: 30%;
  }
}


